div{ 
     /* <!-- embeded styles--> */
    width: 1000px;
    border: 1px solid yellow;   
}
@media screen and (max-width:678px){
    main{
        background: goldenrod;
    }
    
}
#head{
    width: 90%;
    height: 100px;
    border: 1px solid red;
    margin: 10px auto;
      
}
#main{
    width: 90%;
    height: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
li{
    display: inline;
    background:grey;
    color: white;
    padding: 5px;
     margin: 5px;
    border: 2px solid red

}
#body{
    width: 90%;
    height:100px;
    border: 1px solid rgb(106, 35, 153);
    margin: 10px auto;
}
#foot{
    width: 90%;
    height:50px;
    border: 1px solid green;
    margin: 10px auto;
}
